[submodule "PersonalConfidentialData"]
	path = PersonalConfidentialData
	url = git@github.com:rinkaaan/PersonalConfidentialData.git
[submodule "PersonalNotes"]
	path = PersonalNotes
	url = git@github.com:rinkaaan/PersonalNotes.git
[submodule "PersonalConfidentialPythonExamples"]
	path = PersonalConfidentialPythonExamples
	url = git@github.com:rinkaaan/PersonalConfidentialPythonExamples.git
